In [1]:
import pandas as pd

In [5]:
dataset_path = r'E:\ss_data\train_species_only_singles.csv'
images_df = pd.read_csv(dataset_path)
print(f'Images df head: \n{images_df.head()}')
print(f'Number of images: {len(images_df)}')

Images df head:
                          file_path_rel  encoded_species
0  S9/B03/B03_R1/S9_B03_R1_IMAG0250.JPG                1
1  S9/B03/B03_R1/S9_B03_R1_IMAG0251.JPG                1
2  S9/B03/B03_R1/S9_B03_R1_IMAG0252.JPG                1
3  S9/B03/B03_R1/S9_B03_R1_IMAG0256.JPG                1
4  S9/B03/B03_R1/S9_B03_R1_IMAG0258.JPG                1
Number of images: 193978

In [14]:
images_df['capture_id'] = images_df.file_path_rel.str.split('/').str[-1]
multiple_captures = images_df[images_df.duplicated(['capture_id'])]
images_df.

Empty DataFrame
Columns: [file_path_rel, encoded_species, capture_id]
Index: []